@media(max-width: 800px) {
 body {
 font-size: 30px;
 }
}
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
body {
margin: 0 auto;
font-size: 20px;
background-color: #F4BF42;
font-family: 'Crimson Text', sans-serif;
}
.flex {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
#nav-bar {
 background-color: #FF8C00;
 height: 50px;
 justify-content: space-between;
 position: fixed;
 display: flex;
 align-items: center;
 width: 100vw;
}
#links {
 display: flex;
 justify-content: flex-start;
 align-items: center;
}
#header-img {
 max-height: 100%;
 width: auto;
 border= "0";
}
#title {
 height: 100vh;
 width: 100vw;
}
#services {
 height: 100vh;
 width: 100vw;
}
#pricing {
 height: 100vh;
 width: 100vw;
 display: grid;
 grid-template-rows: repeat(2, 1fr);
 grid-template-columns: repeat(4, 1fr);
 justify-items: center;
 align-items: center;
 border: solid green 5px;
 grid-gap: 0;
}
a {
 color: white;
 text-decoration: none;
}
a:hover {
 color: black;
}
#video {
 width: 50vw;
 height: 50vh;
}
#submit {
 border: none;
 background-color: white;
 color: purple;
 border-radius: 5px;
}
#submit:hover {
 border: 5px solid orange;
}
.packages {
 background-color: white;
 color: orange;
 border-radius: 10px;
 height: 30vh;
 width: 20vw;
}
.descriptions {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 background-color: slategray;
 color: white;
 border-radius: 10px;
 height: 60%;
 width: 40%;
 font-size: 60%;
}
ul {
 height: 90%;
 width: 60%;
 border: 2px yellow solid;
}
