body {
height: 100vh;
margin: 0 auto;
}
.flex {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100vw;
}
.flex2 {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 width: 100vw;
}
#nav-bar {
 background-color: orange;
 height: 10vh;
 justify-content: space-between;
 font-size: 20px;
}
#header-img {
 max-height: 100%;
 width: auto;
 border= "0";
 justify-self: left;
}
a {
 color: white;
}
a:hover {
 color: black;
}
#video {
 width: 50vw;
 height: 50vh;
}
