body {
height: 100vh;
}
.flex {
 display: flex;
 justify-content: space-around;
 align-items: center;
 width: 100vw;
}
#header {
 height: 50px;
}
#header-img {
 height: auto;
 max-width: 100%;
 display: inline-block;
}
